body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background: url("http://lorempixel.com/output/city-q-c-1280-860-1.jpg")no-repeat center fixed !important;
}

.slick-prev {
  margin-left: 60px !important;
  z-index: 3;
}

.slick-next {
  margin-right: 60px !important;
  z-index: 3;
}

.slick-prev:before {
  font-size: 60px !important;
  content: "\f104" !important;
  font-family: FontAwesome;
}

.slick-next:before {
  font-size: 60px !important;
  content: "\f105" !important;
  font-family: FontAwesome;
}
